
<% provide(:title, 'Ton Chi') %>

<body>
<!-- Use code from http://www.menucool.com/slider/javascript-image-slider-demo1 -->
<div  >

     
      <%= link_to root_path do %> <%= image_tag("logo1.jpeg", :alt => "logo", :class =>"logo1") %> <% end %>                                        
      <ul id ="menu">
       
      <li><%= link_to root_path do %><i class="fa fa-home"></i> <div id = "hidden"> Trang Đầu </div><% end %></li>
        <li data-turbolinks="false"><%= link_to thongtin_path do %><i class="fa fa-info"></i> <div id = "hidden"> Thông Tin </div> <% end %></li>
        <li><%= link_to tonchi_path do %><i class="fa fa-book"></i> <div id = "hidden"> Tôn Chỉ </div><% end %></li>
        <li><%= link_to cachoidoan_path  do%><i class="fa fa-group"></i> <div id = "hidden"> Các Hội Đoàn</div><% end %></li>
        
        
      </ul>

      

    </div>
 
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript">
(function($) {          
    $(document).ready(function(){                    
        $(window).scroll(function(){                          
            if ($(this).scrollTop()  < 200) {
                $('#menu').fadeOut(500);
            } else {
                $('#menu').fadeIn(500);
            }
        });
    });
})(jQuery);
</script>
<div id="sliderFrame" data-turbolinks="false">
        <div id="slider">
            
            <%= image_tag("image-slider-1.jpg", :alt => "rss feed") %>
           <%= image_tag("image-slider-2.jpg", :alt => "rss feed") %>
			  <%= image_tag("image-slider-3.jpg", :alt => "rss feed") %>
			  <%= image_tag("image-slider-4.jpg", :alt => "rss feed") %>
			  <%= image_tag("image-slider-5.jpg", :alt => "rss feed") %>
			  
           
        </div>
        <div id="htmlcaption" style="display: none;">
            <em>HTML</em> caption. Link to <a href="http://www.google.com/">Google</a>.
        </div>
  </div>

<br>
<br>
<div class="container">
  
<div>


                     <!-- THANH LE MUA HE  -->

                    <p style="font-family:verdana;font-size:150%; color:#1B4B8E ">
                    <blink><strong>CÁC THÁNH LỄ CHÚA NHẬT TRONG MÙA HÈ:</strong></blink></p>


                    <ul>
                        
                         <li><p style="font-family:cambria;font-size:140%">
                         <span style="text-decoration: underline;">- Hai Chúa Nhật ngày 29 tháng 5 và 5 tháng 6:</span> Chỉ có một Thánh Lễ lúc 11 giờ sáng.</p>
                         </li>
                         <li><p style="font-family:cambria;font-size:140%">
                         <span style="text-decoration: underline;">- Từ ngày 12 tháng 6 đến ngày 4 tháng 9:</span> Chỉ có một Thánh Lễ lúc 10 giờ sáng.</p>
                         </li>
                          <li><p style="font-family:cambria;font-size:140%">
                         <span style="text-decoration: underline;">- Từ ngày 11 tháng 9:</span> Giáo Xứ sẽ trở lại sinh hoạt bình thường với hai Thánh Lễ 9 giờ và 11 giờ sáng.</p>
                         </li>
<!--
                         <li><p style="font-family:cambria;font-size:140%">
                         - Từ ngày 29 tháng 5 đến ngày 13 tháng 9: Các ngày Chúa Nhật, GX chỉ có một Thánh Lễ lúc 10 giờ.</p>
                         </li>
                         <li><p style="font-family:cambria;font-size:140%">
                         - Từ ngày 20 tháng 9: Các ngày Chúa Nhật, Giáo xứ sẽ có hai Thánh Lễ 9:00 giờ và 11:00 giờ sáng. 
                         </p><p style="font-family:cambria;font-size:140%">
                         - Hai trường Giáo Lý và Việt Ngữ khai giảng ngày 20/9.
                         </p>
                         </li>
-->
<!--           
                         <li><p style="font-family:cambria;font-size:140%">
                         - Lễ Bế giảng hai trường Giáo Lý và Việt Ngữ sẽ tổ chức ở hội trường dưới basement vào ngày 7 tháng 6 sau Thánh Lễ 10 giờ.</p>
                         </li>
                                                
                         <li><p style="font-family:cambria;font-size:140%">
                         - Picnic hàng năm của GX sẽ tổ chức vào ngày 14 tháng 6 tại Merritt Point Park (địa chỉ: 7800 Dunman Way, Dundalk, MD 21222). Thánh Lễ bắt đầu lúc 10 giờ.
                         </p>
                         </li>
-->
                         </p>
                    </ul>
                   </br>
                  <p style="font-family:verdana;font-size:150%; color:#1B4B8E ">
                  <blink><strong>Chương Trình Hành Hương núi Đức Mẹ lộ Đức, Emmitsburg ngày 14-8-2016:</br></strong></blink></p>


                    <ul>
                        
                         
 <p style="font-family:cambria;font-size:140%"><span style="text-decoration: underline;">Chương Trình:</span></p>
<li><p style="font-family:cambria;font-size:140%">- 9g30 - 9g45 sáng: Tập họp tại nhà thờ</li>
<li><p style="font-family:cambria;font-size:140%">- Đúng 10g00 sáng: Xe bus khởi hành </li>
<li><p style="font-family:cambria;font-size:140%">- 12g00 trưa: Tập họp tại hang đá Đức Mẹ Lộ Đức lần chuỗi lòng thương xót Chúa sau đó viếng tượng đài Đức Mẹ La-vang, đọc kinh kínk Đức Mẹ Bổn Mạng.</li>
<li><p style="font-family:cambria;font-size:140%">- 1g30 chiều: Thánh Lễ tại nhà nguyện.</li>
<li><p style="font-family:cambria;font-size:140%">- 3g00 chiều: Đi xe bus qua viếng đền Thánh Elizabeth Ann Seton. Những ai đi qua Cửa Thánh, đọc một kinh Lạy Cha, một kinh Kính Mừng, một kinh Sáng Danh, kinh Tin Kính, và cầu nguyện theo ý đức Thánh Cha sẽ được hưởng một ơn đại xá.</li>

<li><p style="font-family:cambria;font-size:140%">- Đúng 4g00 chiều: Xe bus khởi hành về lại nhà thờ.
Những ai đi theo diện tự túc, xin dựa theo chương trình trên để cùng tham dự với cộng đoàn.  Việc đi và về cũng như việc viếng đền thánh Elizabeth Ann Seton thì tùy nghi.
</li>
<li><p style="font-family:cambria;font-size:140%"><strong>Lưu ý: Ngày 14/8/2016 sẽ không có thánh lễ tại nhà thờ.</strong></li>
<li><p style="font-family:cambria;font-size:140%">Địa chỉ:</li>
<li><p style="font-family:cambria;font-size:140%"><strong>National Shrine Grotto of our Lady of Lourdes</strong></i>
<li><p style="font-family:cambria;font-size:140%">16330 Grotto Road, Emmitsburg, MD 21727</li>

<li><p style="font-family:cambria;font-size:140%"><strong>The National Shrine of Saint Elizabeth Ann Seton</strong></li>
<li><p style="font-family:cambria;font-size:140%">339 South Seton Avenue, Emmitsburg, MD 21727-9297</li>



                         </li>
                                   
                 
                 
                 
                 
                 
                 
                    </p>                    
                    </br>
                    

                    <hr>

                    
                    <p><strong>Linh Mục chánh xứ: </strong>Cha JOSEPH TRẦN CHÚC<p>
                        <strong>LỊCH SINH HOẠT CÁC NGÀY CHÚA NHẬT QUANH NĂM:</strong>
                    <ul>        
                        <li><strong> Thánh Lễ I:</strong> 9:00 giờ sáng </li>
                        <li><strong> Thánh Lễ II:</strong> 11:00 giờ sáng </li>
                        <li><strong> Thánh Lễ mỗi thứ Sáu đầu tháng:</strong> 8:00 giờ tối</li>
                        <li> <strong>Giải Tội:</strong> Nửa giờ trước mỗi Thánh Lễ</li>
                    </ul>


            

                </div><!-- End of Column B -->
            </div><!-- End of Content div -->
            <div style="clear: both;"></div>
        </div>
 
</div>
</div> 
</div>
</body>
