
<% provide(:class, 'full2') %>


<!-- The code borrow from Dynamic Drive at the website: http://www.dynamicdrive.com/style/csslibrary/item/css-image-gallery/ -->

<div class="container-gloss">
<div class="row">
<div class="gallerycontainer">

<a class="thumbnail" href="#thumb"><%= image_tag("pic1.jpg", :class => ".col-xs-6 .col-md-4", style: 'width:140px ;  height:100px' ) %><span><%= image_tag("pic1.jpg", :class => ".col-xs-12 .col-sm-6 .col-md-8") %></span></a>

<a class="thumbnail" href="#thumb"><%= image_tag("pic2.jpg", style: 'width:140px ;  height:100px' ) %><span><%= image_tag("pic2.jpg", :class => "thumbnail" ) %></span></a>


<a class="thumbnail" href="#thumb"><%= image_tag("pic3.jpg", style: 'width:140px ;  height:100px' ) %><span><%= image_tag("pic3.jpg") %></span></a>
<a class="thumbnail" href="#thumb"><%= image_tag("pic4.jpg", style: 'width:140px ;  height:100px' ) %><span><%= image_tag("pic4.jpg") %></span></a>
<a class="thumbnail" href="#thumb"><%= image_tag("pic5.jpg", style: 'width:140px ;  height:100px' ) %><span><%= image_tag("pic5.jpg") %></span></a>
<a class="thumbnail" href="#thumb"><%= image_tag("pic4.jpg", style: 'width:140px ;  height:100px' ) %><span><%= image_tag("pic4.jpg") %></span></a>
<a class="thumbnail" href="#thumb"><%= image_tag("pic4.jpg", style: 'width:140px ;  height:100px' ) %><span><%= image_tag("pic4.jpg") %></span></a>
<a class="thumbnail" href="#thumb"><%= image_tag("pic4.jpg", style: 'width:140px ;  height:100px' ) %><span><%= image_tag("pic4.jpg") %></span></a>
</div>




</div>
</div>
