<body>
<div>
<div  >

     
      <%= link_to root_path do %> <%= image_tag("logo1.jpeg", :alt => "logo", :class =>"logo1") %> <% end %>                                        
      <ul id ="menu">
       
        <li><%= link_to root_path do %><i class="fa fa-home"></i> <% end %></li>
        <li data-turbolinks="false"><%= link_to thongtin_path do %><i class="fa fa-info"></i>  <% end %></li>
        <li><%= link_to tonchi_path do %><i class="fa fa-book"></i> <% end %></li>
        <li><%= link_to cachoidoan_path  do%><i class="fa fa-group"></i> <% end %></li>
        
      </ul>

      

    </div>
 
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript">
(function($) {          
    $(document).ready(function(){                    
        $(window).scroll(function(){                          
            if ($(this).scrollTop()  < 200) {
                $('#menu').fadeOut(500);
            } else {
                $('#menu').fadeIn(500);
            }
        });
    });
})(jQuery);
</script>
</div>
<!-- End navigation -->

<%= image_tag("church2.jpg",  alt: "church", id: "church2") %>


<div id="statement" >
  <h1>Nha tha Duc Me La Vang Baltimore</h1>
  
</div>

  <div id="ngayle" class="container" class="container-gloss">
    
                    
                    <h3 style="color:red"> <strong>Linh Mục chánh xứ: </strong>Cha JOSEPH TRẦN CHÚC</h3>
                    <br>
                    <h4 style="color:red">  <strong>LỊCH SINH HOẠT CÁC NGÀY CHÚA NHẬT QUANH NĂM:</strong></h4>  
                    <ul>        
                        <li><strong> Thánh Lễ I:</strong> 9:00 giờ sáng </li>
                        <li><strong> Thánh Lễ II:</strong> 11:00 giờ sáng </li>
                        <li><strong> Thánh Lễ mỗi thứ Sáu đầu tháng:</strong> 8:00 giờ tối</li>
                        <li> <strong>Giải Tội:</strong> Nửa giờ trước mỗi Thánh Lễ</li>
                    </ul>
  </div>



            

</body>