<div class="picbackground">
<%= image_tag("church2.jpg",  alt: "church", id: "church2") %>
</div>
<body class="container">
<div>
<div  >

     
      <%= link_to root_path do %> <%= image_tag("logo1.jpeg", :alt => "logo", :class =>"logo1") %> <% end %>                                        
      <ul id ="menu">
       
      <li data-turbolinks="false"><%= link_to root_path do %><i class="fa fa-home"></i> <div id = "hidden"> Trang Đầu </div><% end %></li>
      <!--  <li data-turbolinks="false"><%= link_to thongtin_path do %><i class="fa fa-info"></i> <div id = "hidden"> Thông Tin </div> <% end %></li> -->
        <li><%= link_to tonchi_path do %><i class="fa fa-book"></i> <div id = "hidden"> Tôn Chỉ </div><% end %></li>
        <li><%= link_to cachoidoan_path  do%><i class="fa fa-group"></i> <div id = "hidden"> Các Hội Đoàn</div><% end %></li>
       <li><%= link_to cadoan_path  do%><i class="fa fa-music"></i><div id = "hidden">  Ca Đoàn</div><% end %></li>
        <li><%= link_to truonggiaoly_path  do%><i class="fa fa-university"></i> <div id = "hidden">Giáo Lý và Việt Ngữ </div> <% end %></li>
        <li><%= link_to hinhanh_path  do%><i class="fa fa-camera"></i> <div id = "hidden">Hình ảnh Sinh hoạt </div> <% end %></li>
        <li><%= link_to noiket_path  do%><i class="fa fa-phone"></i> <div id = "hidden">Liên lạc </div> <% end %></li>
        
        
      </ul>

      

    </div>
 
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript">
(function($) {          
    $(document).ready(function(){                    
        $(window).scroll(function(){                          
            if ($(this).scrollTop()  < 200) {
                $('#menu').fadeOut(500);
            } else {
                $('#menu').fadeIn(500);
            }
        });
    });
})(jQuery);
</script>
</div>
<!-- End navigation -->





<div id="statement" >
  <h1>Nha tha Duc Me La Vang Baltimore</h1>
  
</div>

  <div id="ngayle" >
    
                    
                    <h3 style="color:#1B4B8E "> <strong>Linh Mục chánh xứ: </strong>Cha JOSEPH TRẦN CHÚC</h3>
                    <br>
                    <h4  style="color:#1B4B8E ">  <strong>LỊCH SINH HOẠT CÁC NGÀY CHÚA NHẬT QUANH NĂM:</strong></h4>  
                    <ul>        
                        <li><strong> Thánh Lễ I:</strong> 9:00 giờ sáng </li>
                        <li><strong> Thánh Lễ II:</strong> 11:00 giờ sáng </li>
                        <li><strong> Thánh Lễ mỗi thứ Sáu đầu tháng:</strong> 8:00 giờ tối</li>
                        <li> <strong>Giải Tội:</strong> Nửa giờ trước mỗi Thánh Lễ</li>
                    </ul>
  </div>



       <a  id="fixedbar" href="https://www.facebook.com/groups/Lavang.Baltimore/">  <i style="font-size:200%;color:#1B4B8E;background-color: white" class="fa fa-facebook-official" ></i> </a>           

</body>